<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Bevestigen')"></head>

<body>
<table>
    <tr>
        <td><a th:href="@{/}">Genres </a></td>
        <td><a th:href="@{/mandje}">Mandje </a></td>
        <td><a th:href="@{/klant}">Klant </a></td>
    </tr>
</table>

<h1>bevestigen</h1>


<span th:text="${mandje.size()}"></span>
film(s) voor: <br>
<span th:object="${klantVoornaam}" th:text="${klantVoornaam}"></span>
<span th:object="${klant}" th:text="${klant}"></span>
<br><br>

<form th:object="${klant}"
        th:action="@{|${id}/bevestigd|}"
        modelAttribute='reservatie'
        method='post'
        id='bevestigenform'>
    <input type='submit' value='Bevestigen' id='toevoegknop'>
</form>

<!-- -->
<span th:if="${mislukFilms} != null">
Let op: te weinig voorraad voor:
 <ul th:each="misFilm:${mislukFilms}" th:object="${misFilm}">
            <span th:text=${misFilm}></span>.
</ul>
Boeking zal niet lukken nu.
</span>
<!--
<span th:each="film:${mislukFilms}" th:object="${film}">
 <span th:text="${film.title}"> </span>
</span>
 -->


<script>
    document.getElementById('bevestigenform').onsubmit = function() {
        document.getElementById('toevoegknop').disabled = true;
    };
</script>


</body>
</html>