<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Bevestigd')"></head>

<body>
<table>
  <tr>
        <td><a th:href="@{/klant/new} ">Genres </a></td>
    </tr>
</table>

<h1>Rapport</h1>


<span th:if="${mislukFilms} == null">
    <p>De Reservatie is OK</p>
<!--    <p> Het mandje is terug leeg voor de volgende bestelling</p>-->

</span>

<span th:if="${mislukFilms} != null">
    <p>Volgende reservatie(s) zijn mislukt:</p>
    <ul th:each="film:${mislukFilms}" th:text="${film}" >
        <span th:text="${film}"></span> <br><br>
    </ul>
</span>

    <!--<span th:each="titel:${mislukFilms}" th:text="${titel}">-->
    <!--</span>-->
<!--    <span th:if="${mislukteFilms} != null" th:text="${mislukteFilms}"> te weinig!!!!!!!!<span>-->
<!--<span th:text=${mislukFilms}></span>-->


</body>
</html>