<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title=${film.titel})"></head>

<body>
<p>
    <a th:href="@{/}">Genres </a>
</p>
<h1 th:text="${film.titel}"></h1>
<img th:src="@{|/images/${{film.id}}.jpg|}" alt="|${{film.id}}.jpg}|">


<dl>
    <dt>Prijs</dt>
    <dt th:text="${film.prijs}" style="font-weight: bold; padding-left: 0"></dt>
    <br>
    <dt>Voorraad</dt>
    <dt class="bolder" th:text="${film.voorraad}" style="text-align: left; font-weight: bold"></dt>
    <br>
    <dt>Gereserveerd</dt>
    <dt th:text="${film.gereserveerd}" style="font-weight: bold"></dt>
    <br>
    <dt>Beschikbaar</dt>
    <dt th:text="${film.gereserveerd < film.voorraad ? 'ja' : 'nee'}" style="font-weight: bold"></dt>
    <br>
</dl>


<div th:if=" ${film.voorraad} > 0">
    <form
            th:object="${film}"
            method="post"
            th:action="@{|/film/${film.id}|}">
            <input type="submit" th:value="'In mandje'" >
    </form>
</div>

<script>
    document.getElementById('mandjeform').onsubmit = function() {
        document.getElementById('toevoegknop').disabled = true;
    };
</script>

</body>
</html>

