<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='RETRO VIDEO - genres')"></head>

<body>

<h1>Genres</h1>

<nav class="menu">
        <span th:each="genre:${genres}"
              th:object="${genre}">
                    <a th:href="@{/genres/{id}(id=*{id})}">
                    <span th:text="${genre.naam}"></span>
                    </a>
        </span>
</nav>

<span th:each="genreFilm:${genreFilms}"
      th:object="${genreFilm}">
            <a th:href="@{/film/{id}(id=*{getId()})}">
            <img th:src="@{|/images/${{genreFilm.id}}.jpg|}" alt="|${{genreFilm.id}}.jpg}|">
            </a>
</span>

</body>
</html>