<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Mandje')"></head>

<body>
<table>
    <tr>
        <td><a th:href="@{/}">Genres </a></td>
        <td><a th:href="@{/mandje}">Mandje </a></td>
        <td><a th:href="@{/klant}">Klant </a></td>
    </tr>
</table>
<h1> Mandje </h1>

<span th:if="${filmsInMandje}==null">
<h2>Mandje is leeg</h2></span>

<!--ad id to mandje list HERE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
 <form th:action="@{/Mandje}" th:href="@{MandjeForm}">
     <table id="tabel">
        <tr>
            <th>Film</th>
            <th>Prijs</th>
            <th><input type='submit' value='Verwijderen' id='verwijderknop'></th>
        </tr>
         <tr th:each="film:${filmsInMandje}" th:object="${film}">
             <td th:text="${film.titel}"></td>
             <td th:text="${film.prijs}"></td>
             <td> <input th:type="checkbox" th:name="verwijderid" th:value="${film.id}"></td>
         </tr>
     </table>
 </form>



<!--            </c:forEach>-->
<!--            <tr>-->
<!--                <td>Totaal:</td>-->
<!--                <td><spring:eval expression='totalePrijs.waarde' /></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </form>-->
<!--</c:if>-->

<!--<c:if test='${not empty param.reedsInMandje}'>-->
<!--    <p>filmnr: ${param.reedsInMandje} is reeds aanwezig in het mandje</p>-->
<!--</c:if>-->



<script>
    document.getElementById('mandjeform').onsubmit = function() {
        document.getElementById('verwijderknop').disabled = true;
    };
</script>

</body>
</html>